@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdownMenuItem {
    @apply flex items-center gap-2 px-2 py-1 hover:border-none hover:bg-gray-100;
  }

  .profile-tab {
    @apply flex items-center justify-center gap-1 px-7 pt-4 text-sm;
  }

  .edit-profile-base-submit-button {
    @apply ml-2 rounded-sm px-2 py-1 text-white;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* All buttons need this */
  button {
    @apply cursor-pointer;
  }
}

.profile-tab[data-state='active'] {
  @apply border-t border-t-black/25;
}

body {
  @apply bg-gray-100;
}
